<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550372731118-p0m7i3rebe3ncqf0k0urjtvedj0ch4ua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550372731118-p0m7i3rebe3ncqf0k0urjtvedj0ch4ua</string>
	<key>API_KEY</key>
	<string>AIzaSyC3WGoKjF9iNBQfyPOaqARope9S990T6Ww</string>
	<key>GCM_SENDER_ID</key>
	<string>550372731118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MiniBox.TileWorld</string>
	<key>PROJECT_ID</key>
	<string>tileworld-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>tileworld-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550372731118:ios:d0be06f9f2052624f0abff</string>
	<key>DATABASE_URL</key>
	<string>https://tileworld-ios-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>